################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InventoryServer/InventoryServer
/.vs
/Inventory-Search/.angular/cache/18.2.21/inventory-search
/Inventory-Search/.vs
/Inventory-Search/node_modules
/Inventory-Search/.angular/cache/18.2.21
/Inventory-Search/AGENTS.md
/Inventory-Search/angular.json
/Inventory-Search/package-lock.json
/Inventory-Search/print_lines.py
/Inventory-Search/print_lines_service.py
/Inventory-Search/temp_index_html.txt
/Inventory-Search/tmp.js
/Inventory-Search/tmp.ts
/Inventory-Search/angular.json
/inventory-mock-api/.vs
/Inventory-Search/README.md
