<div class="inventory-search">
    <form [formGroup]="form" (ngSubmit)="onSearch()" class="form">
        <div class="row">
            <label>
                Criteria
                <input formControlName="criteria"
                       (keyup.enter)="onEnterKey()"
                       placeholder="Enter part number, description, or SKU" />
            </label>

            <label>
                Search by
                <select formControlName="by">
                    <option value="PartNumber">Part Number</option>
                    <option value="Description">Description</option>
                    <option value="SupplierSKU">Supplier SKU</option>
                </select>
            </label>

            <div class="field">
                <label class="field__label" for="branches-select">
                    Branches
                </label>

                <branch-multi-select id="branches-select"
                                     formControlName="branches">
                </branch-multi-select>
            </div>
            <label class="checkbox">
                <input type="checkbox" formControlName="onlyAvailable" />
                Only available
            </label>

            <button type="submit" [disabled]="form.invalid">Search</button>
        </div>
    </form>

    <div class="loading" *ngIf="loading$ | async">Loading...</div>
    <div class="results-wrapper"
         [class.results-wrapper--disabled]="loading$ | async">
        <inventory-results-table [items]="items$ | async"
                                 [total]="(total$ | async) ?? 0"
                                 [pageSize]="pageSize"
                                 [pageIndex]="currentPage"
                                 (sort)="onSort($event)"
                                 (pageChange)="onPageChange($event)">
        </inventory-results-table>
    </div>
</div>

<!-- {done} TODO: Add better styling to pagination-->
<!-- {done} TODO: modify the functionality of the search feature such that Searching with 0 branches builds a query with all branches selected. -->
<!-- {done} TODO: (probably in the results-table component) Make table dynamic as width of webpage changes. -->
<!-- {done} TODO: Make headers dynamic, when scrolling past their view, they should hover the table to the column header remains visible when scrolling down.-->
<!-- {done} TODO: modify the program to not require an input for criteria() basically "search *", retrieving all database data if left empty.-->
<!-- {done} TODO: Display count of results as "Showing [pageNumber*(pagesize-1)+1]-[pageNumber*pagesize] of [Total] results-->
